container_commands:
    01_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
        leader_only: true
    02_fetch_sh:
        command: "curl -fsSL https://rpm.nodesource.com/setup_19.x | sudo -E bash -"
    03_install_node:
        command: "sudo yum install -y nodejs"
    04_npm_build:
        command: "npm install && npm i -D webpack webpack-cli @babel/core bable-loader @babel/preset-env @babel/preset-react babel-plugin-transform-class-properties css-loader sass sass-loader style-loader && npm i react react-dom prop-types redux react-redux redux-thunk @redux-devtools/extension axios bootstrap react-alert react-alert-template-basic react-bootstrap react-modal react-overlays react-transition-group && npm audit fix"
    05_collect:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic -c --noinput"
        leader_only: true
option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: PREN.settings
