packages:
    yum:
        nodejs19: []
        nodejs: []
        node: []
        npm: []

commands:
    01_fetch_sh:
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: "curl -sL https://rpm.nodesource.com/setup_19.x | sudo bash -"
    02_install latest node:
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: "sudo yum install -y nodejs"

option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: PREN.settings
    aws:elasticbeanstalk:container:python:
        WSGIPath: PREN.wsgi:application

container_commands:
    01_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate --noinput"
        leader_only: true
    02_collect:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py collectstatic -c --noinput"
        leader_only: true
