option_settings:
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: static
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: Web.settings
    aws:elasticbeanstalk:container:python:
        WSGIPath: Web.wsgi:application

container_commands:
    01_update:
        command: |
            source /var/app/venv/*/bin/activate
            nvm install 16.17.1
            npm install core-js@3.26.0
            npm update
            npx browserslist@latest --update-db
            npm audit fix
        leader_only: true
    02_migrate:
        command: |
            source /var/app/venv/*/bin/activate
            python3.8 main.py migrate --noinput
        leader_only: true
    03_collectstatic:
        command: |
            source /var/app/venv/*/bin/activate
            python3.8 main.py collectstatic -c --noinput
        leader_only: true
    04_requesthandler:
        command: |
            sudo pkill -f RequestHandler.py
            source /var/app/venv/*/bin/activate
            nohup python3.8 RequestHandler/RequestHandler.py > foo.out 2> foo.err < /dev/null &
        leader_only: true
    05_imagegenerator:
        command: |
            sudo pkill -f ImageGenerator.py
            source /var/app/venv/*/bin/activate
            nohup python3.8 ImageGenerator/ImageGenerator.py > foo2.out 2> foo2.err < /dev/null &
        leader_only: true
    06_npmrun:
        command: |
            source /var/app/venv/*/bin/activate
            nvm install 16.17.1
            nohup npm run build > foo3.out 2> foo3.err < /dev/null &
        leader_only: true
