.modal_form_content {
    position: center;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: none;
    background: #32363b;
    overflow: auto;
    padding: 20px;
    outline: none;
}

.modal_form_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #272b30;
}

.p_img{
    width: 50%
}
